h1 {
    text-shadow: 2px 2px 5px $color5;
}

.our-team {

    .card {
        transition: 500ms;
        opacity: 90%;
    }

    .card:hover {
        transform: scale(1.01);
        opacity: 100%;
    }

    .card-body {

        h3 {
            color: $color1;
        }
    }

    .card-body-color {
        background-color: $color9;
    }
}