.our-team {

    .card {
        transition: 500ms;
        opacity: 90%;
    }

    .card:hover {
        transform: scale(1.01);
        opacity: 100%;
    }

    .card-body-color {
        background-color: $color1;
    }
}