.card {
    display: flex;
    flex-direction: column;
    height: 100%;
    transition: 500ms;
    opacity: 90%;

    h2 {
        font-family: $font3;
        color: $color1;
        font-size: large;
    }
}

.card:hover {
    transform: scale(1.01);
    opacity: 100%;
}

.card-body {
    flex: 1;
}

.card-body-color {
    background-color: $color9;
}

.product-card img {
    height: 200px;
    object-fit: cover;
}

.ad-section {
    background-color: $color8;
    padding: 10px;
    margin-top: 20px;

    img {
        border-radius: 50%;
    }
}