@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Stick+No+Bills:wght@200..800&display=swap');

//Paleta de Colores
$color1: #3b5b94;
$color2: #a0b4d9;
$color4: #80679e;
$color5: #252525;

// colores alternativos
$color6: #7B548C;
$color7: #382E59;
$color8: #0D1326;
$color9: #04080D;
$color10: #C2D7F2;

// Fonts
$font1: "Stick No Bills", sans-serif;
$font3: "Gowun Batang", serif;
$font4: "Inria Sans", sans-serif;

section {
    background-color: $color8 !important;
}

h1 {
    font-family: $font1;
    color: $color7;
}

h2 {
    font-family: $font1;
    color: $color10;
}

h3 {
    font-family: $font4;
    color: $color4;
}

h5 {
    font-family: $font3;
    color: $color1 !important;
}

p {
    font-family: $font1;
    color: $color2;
}

a {
    font-family: $font1;
}

.logo {
    width: 3.2rem;
    margin-left: 2rem;
    border-radius: 50%;
    border: 1px solid $color10;
    box-shadow: 0px 0px 2px $color9;
}

.productos a {
    text-decoration: none;
}

.jumbo {
    background-image: url(../img/background.jpg);
    width: 100%;
    height: 800px;
    background-position: center;
    background-size: cover;
    overflow: hidden;

    h1 {
        margin-top: 40px;
        width: 50%;
        text-shadow: 2px 2px 5px $color10;
        margin-left: 0.5rem;
    }

    p {
        width: 45%;
        text-shadow: 2px 2px 5px $color10;
        margin-left: 0.5rem;
    }
}

.publicidad {

    overflow: hidden;

    .aparecer {
        animation-duration: 2s;
        animation-name: aparecer;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

    @keyframes aparecer {
        from {
            opacity: 0;
            transform: scale(1.0);
        }

        to {
            opacity: 1;
            transform: scale(1.2);
        }
    }
}

.carousel-img {
    height: 500px;
    object-fit: cover;
}

.social-icons {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 1;

    a {
        display: block;
        padding: 12px;
        background-color: $color8;
        color: $color10;
        text-align: center;
    }

    a:hover {
        background-color: $color7;
    }
}

.publicidad {
    background-color: $color9 !important;

    .btn-instagram {
        background-color: $color7;
    }

    a:hover {
        background-color: $color6;
    }
}

.comentarios {
    background-color: $color8 !important;

    .card {
        display: flex;
        flex-direction: column;
        height: 100%;
        transition: 500ms;
        opacity: 90%;
    }

    .card:hover {
        transform: scale(1.01);
        opacity: 100%;
    }

    .card-body {
        flex: 1;
    }

    .card-body-color {
        background-color: $color9;
    }
}

.suscripcion {
    background-color: $color8 !important;
}

.chatbox {
    z-index: 1;
}

@import "_contacto";

@import "_nosotros";

@import "_tienda";

@media (min-width: 200px) and (max-width: 350px) {
    .jumbo {

        p {
            width: 100%;
        }
    }
}